.display-none {
  display: none;
}

body {
  padding: 2vmax;
  margin: 0;
}

header {
  font: bold 32px arial;
}

h4 {
  font: bold 18px arial;
}

ul {
  padding-left: 20px;
}

li {
  font: 16px arial;
}

label {
  font: 16px arial;
}

input {
  margin: 10px 0;
}

.form-alert {
  padding: 10px 0px;
  font: 16px arial;
  color: red;
}

div {
  height: 600px;
  border: 0.5px solid grey;  
}